<ion-header>
  <ion-toolbar>
    <ion-title>
      <div align="center">
          <strong> <h6> <ion-title >Sion:Leche y Miel (SLM)</ion-title> </h6> </strong>
    </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding-bottom>

  <ion-grid >
    <ion-row >
      <ion-col size-md="2"  size-lg="3" >     </ion-col>
      <ion-col  size-xs="12"  size-md="8"  size-lg="6">
  <br>
  
    <ion-label text-wrap>    
      <div padding-horizontal padding-bottom align="justify">  
        <ion-text>
          <font  size={{this.fontSize}}>
           Es una versión bíblica, basada en la revisión de 24 versiones de la biblias existentes hoy en día.
            <br><br>
            El instrumento para realizar esta Obra es el hermano Pedro José Rangel Torres llamado como
            discípulo del Mesías y del Dios de Israel, quien hace esta versión mucho más amigable y
            comprensible.
            <br><br>
            Se fundamenta más en conceptos hebreos que griegos, cuyo lenguaje y cultura helénica-romana
            contamina la verdad revelada en las Escrituras de sus originales hebreos.
            <br><br>
            Es una versión en castellano y lo más importante es dar a conocer al remanente el Nombre del
            Dios de Israel.
            <br><br>
            No es necesario aprender el hebreo como algunas corrientes dicen el idioma santo y santo es el
              Dios de los hebreos, quien se le revela a las gentes de las naciones en sus respectivos idiomas.
            <br><br>
            Solo se usan algunas expresiones hebreas para el conocimiento de los hermanos judíos mesiánicos
            pero no se pretende traducir del hebreo ni aprender ese idioma, es una versión en castellano.
            <br><br>
            Se corrigen algunos errores ya sean por traducciones y errores humanos, tales como:
            <br><br>
            <ul class="my-nav">
              <li>
                El Nombre del Dios de Israel: En la mayoría de las traducciones existentes está escrito en
                  Éxodo 3:13 al 15 y aparece como el tetragramaton YHWH y le agregamos las vocales para
                  poder pronunciarlo YaHWeH. Y que significa Yo Soy el que Soy (El Eterno) El mismo Dios de
                  ayer hoy y de siempre. Amén
              </li>
              <li>
                También se utiliza el término abreviado YaH que significa Yo Soy, y que aparece en la
                  versión Reina y Valera como JaH en algunos Libros de la Biblia, ejemplos: Salmos: 68:4,18;
                  77:11; 94:7,12; 102:18; 115:17,18; 118:5,14,18,19; 122:4; 130:3; 135:3,4; 147:11; 150:6;
                  Isaías 12:2; 38: 11; Miqueas 7:7.
              </li>
              <li>
                  Yo Soy el Salvador es el Nombre del Señor y Mesías cuando es introducido en el mundo y
                  se escribe en hebreo YaHshua.
              </li>
              <li>
                  Se corrige en Éxodo 3 el llamar al Mediador entre Dios y los hombres que es nuestro Señor
                  y Mesías y lo llaman en esa y otras citas el Ángel de Jehová, confundiendo a los lectores
                  bíblicos, En vez de Mediador de Yo Soy entre el Padre y la humanidad a semejanza de 1 de
                  Timoteo 2:5.
              </li>
              <li>
                  El Mesías es glorificado en esta versión pues se le reconoce como Dios y Señor de todo lo
                  creado, es el Creador y Heredero. En la versión cuando habla se escribe en mayúscula pues
                  es el Amo y Señor de nuestras almas, nos compró a precio de Su sangre santa y preciosa.
              </li>
              <li>
                  Dios es Uno y eso es lo que el Señor y Mesías que es Su Palabra nos ha revelado, después
                  que derrote a todos los que Le adversan se sujetará a Su Dios y Padre.
              </li>
              <li>
                  Cuando es citado el Hijo al lado de Su Dios y Padre, es nombrado como Señor pues el
                  Padre es mayor que El Hijo, aunque sea Su Primogénito y esté sentado a Su derecha del
                  trono en la Majestad de los cielos siendo igual a Dios y Su Heredero de todo cuanto existe.
              </li>
              <li>
                  Y lo más importante como Autoridad Suprema de toda la creación, sean potestades,
                  dominios, gobernadores y autoridades, sean en los cielos o en la tierra. Pues ante Él se
                  arrodillará todo ser creado y después de someter a todos los enemigos y adversarios de Su
                  reino, El mismo se sujetará a Su Dios y Padre.
              </li>
            </ul>
            
            En el capítulo uno de cada Libro del Canon de la Biblia se aclara Su Nombre para los hermanos
              judíos mesiánicos en hebreo YHWH y le agregamos las vocales para su pronunciación YaHWeH y
              en castellano Yo Soy el que Soy; y cuando escribimos Yo Soy el Nombre abreviado de Dios lo
              escribimos YaH en hebreo; Y Yo Soy el Salvador escribimos la palabra compuesta YaHshua en
              hebreo; Recordando que el hebreo no tiene las vocales para su pronunciación, por ello el Nombre
              está escrito en mayúsculas y las vocales en minúsculas
            <br><br>
            También en el primer capítulo de cada Libro Al Señor se le llama Mesías en hebreo y Cristo o
              Ungido para las gentes de las naciones y se omiten en los capítulos siguientes para no redundar.
            <br><br>
            Esperando les sea de Luz y de alimento sólido para la Grey del Santo de Israel para quien sea la
              gloria por medio de Su amado Hijo nuestro Redentor y Conciliador entre Dios y la humanidad,
              específicamente con los creyentes y quienes esperamos Su regreso.
            <br><br>
            Cualquier duda o interrogante, favor contactarnos para su aclaratoria y explicación.
            <br><br>
            Atentamente, su hermano en el Camino: Pedro José Rangel Torres su servidor.
            <br><br>
            <i>"1 de Pedro 3: 15 sino santifiquen al Mesías como Señor en sus corazones. Estén siempre
preparados para presentar defensa con mansedumbre y reverencia a todo el que les pida razón de
la fe que ustedes tienen"</i>
            <br><br>


        </font>
        </ion-text>
      </div>
    </ion-label>  
  </ion-col>
  <ion-col size-md="2" size-lg="3" >           </ion-col>
</ion-row>
</ion-grid>
</ion-content>
