<ion-tabs mode="md">
  <div *ngIf="!esLogin" align="center">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="lectura">
        <ion-icon name="book" size="large"></ion-icon>
        <ion-label>Leer</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="concordancia">
        <ion-icon name="search" size="large"></ion-icon>
        <ion-label>Concordancia</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="plan-lectura">
        <ion-icon name="checkmark" size="large"></ion-icon>
        <ion-label>Planes</ion-label>
        <!-- esto es para el plan de lectura
        <ion-icon name="done-all"></ion-icon>
        <ion-label>Plan Lectura</ion-label>-->
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon name="person-circle" size="large"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>

      <ion-tab-button fill="clear" (click)="presentActionSheet()">
        <img src="assets/icon/icon-small.png">
        <ion-label>Mas</ion-label>
      </ion-tab-button>
    </ion-tab-bar>


  </div>
</ion-tabs>