<ion-header mode="md" >
  <ion-toolbar>
    
      <div align="center">
          <strong> <h6><ion-title> Concordancia  </ion-title></h6> </strong>
            
      </div>
   
  </ion-toolbar>
  <!--
  <ion-searchbar (ionInput)="getItems($event)"
    placeholder ="Buscar"
    debounce=3000>
  </ion-searchbar>-->
 
</ion-header>
     <ion-content >
        <ion-grid >
          <ion-row >
            <ion-col size-md="2"  size-lg="3" >     </ion-col>
            <ion-col  size-xs="12"  size-md="8"  size-lg="6">
              
              <form [formGroup]="concordanciaForm" (keyup.enter)="getItems()">
                  <ion-item>
                    <ion-input formControlName="palablaBuscar" placeholder="Palabra a buscar" type="text" ></ion-input>
                    <ion-chip (click)="getItems()"  color="primary" >
                        <ion-icon  name="search" ></ion-icon>
                        <ion-label>Total: {{this.versiculos.length}}</ion-label>
                    </ion-chip> 
                  </ion-item>
                
                  
              </form>
        
              <div *ngIf="showText"  align="center">
                <ion-label class="ion-margin-horizontal ion-margin-bottom"  *ngFor="let versiculo of versiculos" >
                  <ion-item >
                  <FONT [style.font-size.px]=this.fontSize face="roboto" >
                    <strong>{{versiculo.nombreLibro}} {{versiculo.capitulo}}:{{versiculo.versiculo}}</strong>
                    {{versiculo.texto.substring(0,versiculo.posicionPalabra) }}
                    <FONT [style.font-size.px]=this.fontSize face = "roboto" color = "red">{{versiculo.palabra}}</FONT>
                    {{versiculo.texto.substring((versiculo.posicionPalabra) + this.palabra.length)}}
                  </FONT>
                </ion-item>
                </ion-label>
                <ion-button color="medium"  expand="full" *ngIf="masResult" (click)="getItems()">
                  <ion-icon name="arrow-round-down"></ion-icon>
                  mas resultados... 
                </ion-button>  
              </div>
            </ion-col>
            <ion-col size-md="2" size-lg="3" >           </ion-col>
          </ion-row>
        </ion-grid>
</ion-content>
