<ion-header >
  <!-- Allow everything but only from the same origin and foo.com -->
  <ion-toolbar>
    <div align="center"> 
        <!-- Boton de los libros-->
        <ion-button clear small (click) = "mostrarLibrosMetodo()" 
           size ="small" fill="clear" color="dark" >
           <strong> <h6> (SLM)&nbsp;{{librot}}</h6> </strong>
        </ion-button>  
        <ion-button color="dark" clear small  fill="clear" (click)="mostrarCapitulosMetodo(libro)">
          <strong> <h6>{{capitulo}} </h6> </strong>
        </ion-button> 
        <ion-button color="dark" clear small  fill="clear" (click)="aumentarSize()" size="small">
          <strong> <h6>A+</h6></strong>  
        </ion-button>
        <ion-button color="dark" clear small  fill="clear" (click)="disminuirSize()" size="small">
          <strong><h6>a-</h6></strong>  
        </ion-button> 
    </div>

   
    <!-- 
    <ion-list>
      <ion-item>
        <ion-icon slot="start" name="moon"></ion-icon>
        <ion-label>Toogle Dark Mode</ion-label>
        <ion-toggle slot="end" [ngModel]="darkMode" (ionChange)="change()"></ion-toggle>
      </ion-item>
    </ion-list> 
    -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="body">
  
  <ion-grid part="placeholder" >
    <ion-row >
      <ion-col size-md="2"  size-lg="3" >
      </ion-col>
      <ion-col  size-xs="12"  size-md="8"  size-lg="6">
      
      <div *ngIf="mostrarLibros" align="center">

        <ion-toolbar>
          <ion-segment [(ngModel)]="tipoOrdenName">
            <ion-segment-button value="tradicional" (click)="tipoOrdenLibro('tradicional')">
              Tradicional
            </ion-segment-button>
            <ion-segment-button value="moderno" (click)="tipoOrdenLibro('moderno')">
              Moderno
            </ion-segment-button>
            <ion-segment-button value="hebreo" (click)="tipoOrdenLibro('hebreo')">
              Hebreo
            </ion-segment-button>
          </ion-segment>
        </ion-toolbar>
        
        <div *ngIf="tipoOrdenT">                                                                               <!--Vista Tradicional-->
          <ion-item>
            <ion-icon name="ios-search" ></ion-icon>
            <ion-input   
              show-cancel-button="always"
              (ionBlur)="filterListLibro('limpiar')"
              clear-on-edit=true
              placeholder="Buscar libro"
              type="text" 
              (ionInput)="filterListLibro($event)"
            ></ion-input >
          </ion-item>
          
          <ion-list>
            <ion-item button *ngFor="let primerpacto of librosTodos" 
            (click)="mostrarCapitulosMetodo(primerpacto.id, primerpacto.capitulos)">
                {{ primerpacto.libro }}
                <ion-label></ion-label>
                <ion-chip  color="primary" mode="ios" outline=true >
                  <ion-label>{{primerpacto.capitulos}}</ion-label>
                </ion-chip> 
            </ion-item>
          </ion-list>          
        </div>  

        <div *ngIf="tipoOrdenM">    
          <br>                                                                                               <!--Vista Moderna-->
          <font COLOR="black" SIZE="3" face="Segoe UI" padding > PRIMER PACTO</font> <br>
          <!--<ion-button expand="full"   fill="outline" 
            *ngFor="let primerpacto of primerP" 
            (click)=" mostrarCapitulosMetodo(primerpacto.id, primerpacto.capitulos)"
            border-radius>
                {{ primerpacto.libro }}
          </ion-button> --> 
          
          <ion-button  ion-button  shape="round" size="small" color="dark"  fill="outline"
            *ngFor="let primerpacto of primerP" 
            (click)=" mostrarCapitulosMetodo(primerpacto.id, primerpacto.capitulos)"
            border-radius>
                {{ primerpacto.libro }}
          </ion-button>
          <br> <br>          
          <font COLOR="black" SIZE="3" face="Segoe UI" > SEGUNDO PACTO</font> <br><br> 

          <ion-button ion-button clear shape="round" size="small" color="dark" fill="outline"
            *ngFor="let segundopacto of segundoP" 
            (click)="mostrarCapitulosMetodo(segundopacto.id, segundopacto.capitulos)">   
                {{ segundopacto.libro }} 
          </ion-button>  
        </div>

        <div *ngIf="tipoOrdenH">                                                                               <!--Vista Tradicional-->
          <ion-item>
            <ion-icon name="ios-search" ></ion-icon>
            <ion-input   
              placeholder="Buscar libro"
              type="text" 
              clear-on-edit=true
              (ionBlur)="filterListLibro('limpiar')"
              (ionInput)="filterListLibro($event)"
            ></ion-input >
          </ion-item>
          
          <ion-list>
            <div *ngFor="let primerpacto of librosTodosHebreo">
              <div [innerHTML]="primerpacto.seccion"></div>
              <ion-item button  
              (click)="mostrarCapitulosMetodo(primerpacto.id, primerpacto.capitulos)">
                {{ primerpacto.libro }}
                <ion-label></ion-label>
                <ion-chip  color="primary" mode="ios" outline=true >
                  <ion-label>{{primerpacto.capitulos}}</ion-label>
                </ion-chip> 
              </ion-item>
            </div>

          </ion-list>          
        </div> 
              

      </div>


  




      <!-- Mostrar los capitulos de cada libro  #elementGénesis-->
      <div *ngIf="mostrarCapitulos" align="center">
            <ion-button ion-button shape="round" size="default" color="dark" fill="outline" slot="start"
              *ngFor = "let item of cantCapitulo"
              (click)="mostrarTextoMetodo(this.libro, item)">
             {{item}}
          </ion-button>
            <!--
            <button ion-button outline round color="dark" *ngFor="let capitulo of cantCapitulo; let cap=index" (click)="seleccionarCapitulo(capitulo)" >
                {{capitulo}}
            </button> 
            -->
      </div> 

      <div class="scroll-container" *ngIf = "mostrarTexto" align="justify"> 

        <button (click)="playAudio()">Audio</button>

        <ion-label  text-wrap part="placeholder"  *ngFor="let text of textoJsonFinal"  >
          
            <div *ngIf="text.hasOwnProperty('idTitulo')">
              <h4 align="center" padding-bottom><FONT face="Segoe UI" size={{this.fontSize+1}}><strong>{{text.titulo}}</strong></FONT></h4> 
            </div>
          
            <div *ngIf="text.hasOwnProperty('comprimido')">
              <div  padding-horizontal padding-bottom id={{text.versiculo}} class="l{{text.versiculo}}">
                <FONT  size={{this.fontSize-2}} face="Segoe UI"><ion-text  color="medium">{{text.versiculo}} </ion-text></FONT>
                <font *ngFor="let construirVersiculo of text.comprimido" size={{this.fontSize}}>
                    <ion-text class={{marcar(construirVersiculo.capitulo,construirVersiculo.versiculo)}}>
                      <a (click)="seleccionarVersiculo('noText', construirVersiculo.id_libro, construirVersiculo.capitulo, construirVersiculo.versiculo)" class={{this.marcarV}}>
                        {{construirVersiculo.parteText}} 
                      </a>
                    <a (click)="citaAlert(construirVersiculo.cita, construirVersiculo.ibroCita, construirVersiculo.capituloCita, construirVersiculo.versiculoCitaInicial)" >
                      <sup>
                        <!--<ion-icon class='ico-cita' color='medium' ios='ios-quote' md='md-quote'></ion-icon>-->
                        <ion-icon name='md-medical' class='ico-cita' color='medium' ></ion-icon>
                        <!--<ion-icon name="bookmark" class='ico-cita' color='medium'></ion-icon>-->
                      </sup>
                    </a>
                      <a (click)="seleccionarVersiculo('noText', construirVersiculo.id_libro, construirVersiculo.capitulo, construirVersiculo.versiculo)" class={{this.marcarV}}>
                        {{construirVersiculo.parteFinal}} 
                      </a>
                    </ion-text>
                  
                </font>
              </div>     
            </div>
          
            <div *ngIf ="!text.hasOwnProperty('comprimido')" padding-horizontal padding-bottom>
              <div  id={{text.versiculo}}  outline="true"  class="custom" >
                <FONT size={{this.fontSize-2}} face="Segoe UI"><ion-text *ngIf="!text.hasOwnProperty('idTitulo')" color="medium">{{text.versiculo}} </ion-text></FONT>
                <font  size={{this.fontSize}}>
                  <ion-text  class={{marcar(text.capitulo,text.versiculo)}}>
                    <span > 
                      <a (click)="seleccionarVersiculo(text.texto,text.id_libro, text.capitulo, text.versiculo)" class={{this.marcarV}}>
                        {{text.texto}} 
                      </a>
                    </span>
                  </ion-text>
                </font>
              </div>
            </div>
        
        
        </ion-label>
 
        <div align="center">
            <FONT face="Segoe UI" size="3"><strong>*(SLM) Sion: Leche y Miel</strong></FONT>    
        </div>
      </div>


    </ion-col>
    <ion-col size-md="2" size-lg="3" >
    </ion-col>

    </ion-row>
  

  </ion-grid>

  <!--Botones flotantes para la version de escritorio middle y middle right-->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed" >
    <ion-fab-button (click)="previousboton()" size="small" >
        <ion-icon name="ios-arrow-back"></ion-icon> 
    </ion-fab-button>
  </ion-fab>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed" size="small">
      <ion-fab-button (click)="nextboton()" size="small">
          <ion-icon name="ios-arrow-forward"></ion-icon> 
      </ion-fab-button>
    </ion-fab>
      
    <br>
</ion-content>
