<ion-header>
  <ion-toolbar>
    <ion-title>
      <div align="center">
          <font COLOR="black" SIZE="4" face="Segoe UI">
            <ion-title >Redes Sociales</ion-title>
          </font>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-header align="center">
        <ion-card-subtitle>¿Tienes dudas sobre la versión SLM? </ion-card-subtitle>
        <ion-card-subtitle>¿Tienes alguna pregunta a los creadores de SLM?</ion-card-subtitle>
        <ion-card-subtitle>¿Tienes alguna duda sobre un tema de revelación? </ion-card-subtitle>
        <ion-card-title type="ios">Te damos las siguientes opciones</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Respuestas a las preguntas anteriores o cualquier otra duda, te invitamos a participar en nuestro pequeño y selecto grupo de WhatsApp 
      </ion-card-content>
      <ion-item align="center">
          <ion-avatar item-start>
            <img src="assets/imgs/whatsApp.png">
          </ion-avatar>
          <a href="https://chat.whatsapp.com/LKj16Lwh08D1y5BSJizyi7" style="text-decoration:none">Sion:Leche y Miel </a>
      </ion-item>
      <ion-card-content  align="center">
          <ion-card-subtitle>Ayudamos a mantener Sion: Leche y Miel  </ion-card-subtitle>
          <ion-list >
            <div >
              <ion-item>
                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=G5A4DWD438GX8&source=url" align="center">
                  
                  <img src="assets/imgs/paypal2.gif" alt="Donar" width="" align="middle">
                </a> 
            </ion-item>
          </div>
          </ion-list>
    </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header align="center">
          <ion-card-subtitle>Hermano y discípulo llamado por <ion-text color="danger">Yo Soy el Salvador y Mesías de Israel</ion-text>, varón poderoso en las Escrituras e instruido en el Camino de Dios.</ion-card-subtitle>
          <ion-card-title type="ios">Pedro José Rangel Torres </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            <ion-list>
                <ion-item>
                  <ion-avatar item-start>
                    <img src="assets/imgs/whatsApp.png">
                  </ion-avatar>
                  <a href="https://wa.me/584166114265" style="text-decoration:none"> &nbsp; Pedro Rangel </a>
                  &nbsp; &nbsp; 
                    <ion-avatar item-start>
                      <img src="assets/imgs/facebook.png">
                    </ion-avatar>
                    <a href="https://www.facebook.com/pedrojoserangeltorres" style="text-decoration:none"> &nbsp; Pedro Rangel </a>
                  </ion-item>
              </ion-list>
        </ion-card-content>
  
      </ion-card>
     
</ion-content>
