<ion-header>
  <ion-toolbar>
    <ion-title>
      <div align="center">           
            <strong> <h6>  <ion-title >Redes Sociales</ion-title></h6> </strong>
     </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid >
    <ion-row >
      <ion-col size-md="2"  size-lg="3" >     </ion-col>
      <ion-col  size-xs="12"  size-md="8"  size-lg="6">
          
      <ion-card>
        <ion-card-header align="center">
          <ion-card-subtitle>¿Tienes dudas sobre la versión SLM? </ion-card-subtitle>
          <ion-card-subtitle>¿Tienes alguna pregunta a los creadores de SLM?</ion-card-subtitle>
          <ion-card-subtitle>¿Tienes alguna consulta sobre el evangelio? </ion-card-subtitle>

        </ion-card-header>
        <ion-card-content align="center">
          Respuestas a las preguntas anteriores o cualquier otra duda, te invitamos a participar en nuestras redes (WhatsApp y Facebook).
        </ion-card-content>
        <ion-item align="center">
            <ion-avatar item-start>
              <img src="assets/imgs/whatsApp.png">
            </ion-avatar>
            <a href="https://chat.whatsapp.com/LKj16Lwh08D1y5BSJizyi7" style="text-decoration:none"> </a> &nbsp; &nbsp;
            <ion-avatar item-start>
                <img src="assets/imgs/facebook.png">
            </ion-avatar>
            <a href="https://www.facebook.com/groups/346681428858355/" style="text-decoration:none"> &nbsp;</a>
            <ion-avatar item-start>
              <img src="assets/imgs/telegram.png">
            </ion-avatar>
            <a href="https://t.me/+Vf9T_an-AU78HRp4" style="text-decoration:none"> &nbsp;</a>
            <ion-avatar item-start>
              <img src="assets/imgs/twitter.png">
            </ion-avatar>
            <a href="https://twitter.com/AtalayaDeSion4" style="text-decoration:none"> &nbsp;</a>
            
        </ion-item>
        
        <ion-card-content  align="center">
            <ion-card-subtitle>Ayudamos a mantener Sion: Leche y Miel <br>  Contribuciones, ofrendas o primicias  a través de nuestra página web o contactanos por las redes sociales.   
            </ion-card-subtitle>
            <a href="https://sionlecheymiel.com/" align="center">https://sionlecheymiel.com/</a>
            <ion-card-subtitle>De Gracias se recibió y de Gracia se da. Sion: Leche y Miel</ion-card-subtitle>
      
        </ion-card-content>
      
      </ion-card>

      <ion-card>
          <ion-card-header align="center">
            <ion-card-subtitle>Hermano y discípulo llamado por <ion-text color="danger">Yo Soy el Salvador y Mesías de Israel</ion-text>, varón poderoso en las Escrituras e instruido en el Camino de Dios.</ion-card-subtitle>
            <ion-card-title >Pedro José Rangel Torres </ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
              <ion-list>
                  <ion-item>
                    <ion-avatar item-start>
                      <img src="assets/imgs/whatsApp.png">
                    </ion-avatar>
                    <a href="https://wa.me/584125421181" style="text-decoration:none"> &nbsp; Pedro Rangel </a>
                    &nbsp; &nbsp; 
                      
                  </ion-item>
                  <ion-item>
                    <ion-avatar item-start>
                      <img src="assets/imgs/facebook.png">
                    </ion-avatar>
                    <a href="https://www.facebook.com/profile.php?id=100080039304691" style="text-decoration:none"> &nbsp; Pedro Rangel </a>
                  </ion-item>
                </ion-list>
          </ion-card-content>
    
        </ion-card>
      </ion-col>
      <ion-col size-md="2" size-lg="3" >
      </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
