<ion-header>
  <ion-toolbar>
    <ion-title>
      <div align="center">           
            <strong> <h6>  <ion-title >Redes Sociales</ion-title></h6> </strong>
     </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-header align="center">
        <ion-card-subtitle>¿Tienes dudas sobre la versión SLM? </ion-card-subtitle>
        <ion-card-subtitle>¿Tienes alguna pregunta a los creadores de SLM?</ion-card-subtitle>
        <ion-card-subtitle>¿Tienes alguna consulta sobre el evangelio? </ion-card-subtitle>

      </ion-card-header>
      <ion-card-content align="center">
        Respuestas a las preguntas anteriores o cualquier otra duda, te invitamos a participar en nuestras redes (WhatsApp y Facebook).
      </ion-card-content>
      <ion-item align="center">
          <ion-avatar item-start>
            <img src="assets/imgs/whatsApp.png">
          </ion-avatar>
          <a href="https://chat.whatsapp.com/LKj16Lwh08D1y5BSJizyi7" style="text-decoration:none">Sion:Leche y Miel </a> &nbsp; &nbsp;
          <ion-avatar item-start>
              <img src="assets/imgs/facebook.png">
          </ion-avatar>
          <a href="https://www.facebook.com/groups/346681428858355/" style="text-decoration:none"> &nbsp;Atalaya de Sion</a>
      </ion-item>
      
      <ion-card-content  align="center">
          <ion-card-subtitle>Ayudamos a mantener Sion: Leche y Miel <br>  Contribuciones, ofrendas o primicias  a través de nuestra página web o contactanos por las redes sociales.   
          </ion-card-subtitle>
          <a href="http://sionlecheymiel.org.ve" align="center">http://sionlecheymiel.org.ve/</a>
          <ion-card-subtitle>Sion: Leche y Miel es Gratis y seguirá siendo gratis.</ion-card-subtitle>
    
      </ion-card-content>
    
    </ion-card>

    <ion-card>
        <ion-card-header align="center">
          <ion-card-subtitle>Hermano y discípulo llamado por <ion-text color="danger">Yo Soy el Salvador y Mesías de Israel</ion-text>, varón poderoso en las Escrituras e instruido en el Camino de Dios.</ion-card-subtitle>
          <ion-card-title type="ios">Pedro José Rangel Torres </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            <ion-list>
                <ion-item>
                  <ion-avatar item-start>
                    <img src="assets/imgs/whatsApp.png">
                  </ion-avatar>
                  <a href="https://wa.me/584166114265" style="text-decoration:none"> &nbsp; Pedro Rangel </a>
                  &nbsp; &nbsp; 
                    <ion-avatar item-start>
                      <img src="assets/imgs/facebook.png">
                    </ion-avatar>
                    <a href="https://www.facebook.com/pedrojoserangeltorres" style="text-decoration:none"> &nbsp; Pedro Rangel </a>
                  </ion-item>
              </ion-list>
        </ion-card-content>
  
      </ion-card>
     
</ion-content>
