<div class="bible-viewer-container" [style.fontSize.px]="fontSize">

  <div *ngFor="let text of content" class="verse-block">

    <div *ngIf="text.hasOwnProperty('idTitulo')" class="title-wrapper">
      <h3>
        <strong>{{text.titulo}}</strong>
      </h3>
    </div>

    <div *ngIf="text.hasOwnProperty('comprimido')" class="verse-line">

      <div id="{{idPrefix}}{{text.versiculo}}" class="verse-content l{{text.versiculo}}">

        <span class="verse-num">{{text.versiculo}}</span>

        <ng-container *ngFor="let fragmento of text.comprimido">

          <span class="text-fragment" (click)="onVerseClick(text.id_libro, text.capitulo, text.versiculo, 'noText')"
            [style.backgroundColor]="obtenerColorMarcador(text.capitulo, text.versiculo)">
            {{fragmento.parteText}}
          </span>

          <span class="citation-trigger" (click)="onCitationClick(fragmento)"
            [style.backgroundColor]="obtenerColorMarcador(text.capitulo, text.versiculo)">
            <ion-icon name="book-outline"></ion-icon> </span>

          <span class="text-fragment" (click)="onVerseClick(text.id_libro, text.capitulo, text.versiculo, 'noText')"
            [style.backgroundColor]="obtenerColorMarcador(text.capitulo, text.versiculo)">
            {{fragmento.parteFinal}}
          </span>

        </ng-container>

        <span *ngIf="tieneNota(text.capitulo, text.versiculo)" class="note-indicator"
          (click)="onNoteClick(text.capitulo, text.versiculo); $event.stopPropagation()">
          <ion-icon name="document-text"></ion-icon>
        </span>

      </div>
    </div>

    <div *ngIf="!text.hasOwnProperty('comprimido') && text.texto" class="verse-line">

      <div id="{{idPrefix}}{{text.versiculo}}" class="verse-content l{{text.versiculo}}">

        <span class="verse-num" *ngIf="!text.hasOwnProperty('idTitulo')">{{text.versiculo}}</span>

        <span class="text-fragment" (click)="onVerseClick(text.id_libro, text.capitulo, text.versiculo, text.texto)"
          [style.backgroundColor]="obtenerColorMarcador(text.capitulo, text.versiculo)">
          {{text.texto}}
        </span>

        <span *ngIf="tieneNota(text.capitulo, text.versiculo)" class="note-indicator"
          (click)="onNoteClick(text.capitulo, text.versiculo); $event.stopPropagation()">
          <ion-icon name="document-text"></ion-icon>
        </span>

      </div>
    </div>

  </div>
</div>