<div class="bible-reading-flow" [style.fontSize.px]="fontSize">

  <ng-container *ngFor="let text of content">

    <div *ngIf="text.hasOwnProperty('idTitulo')" class="pericopa-block">
      <h3>{{text.titulo}}</h3>
    </div>

    <!-- Wrap verse in conditional to prevent phantom elements on title-only entries -->
    <ng-container *ngIf="text.texto || (text.comprimido && text.comprimido.length > 0)">
      <span id="{{idPrefix}}{{text.versiculo}}" class="verse-span"
        [style.backgroundColor]="obtenerColorMarcador(text.capitulo, text.versiculo)">

        <!-- Only show verse number if NO title (Prevents duplication for Verse 1) -->
        <sup class="verse-number" *ngIf="!text.hasOwnProperty('idTitulo')">{{text.versiculo}}</sup>

        <ng-container *ngIf="text.hasOwnProperty('comprimido')">
          <ng-container *ngFor="let fragmento of text.comprimido">

            <span class="text-content" (click)="onVerseClick(text.id_libro, text.capitulo, text.versiculo, 'noText')">
              {{fragmento.parteText}}
            </span>

            <span class="citation-icon" (click)="onCitationClick(fragmento)">
              <ion-icon name="book-outline"></ion-icon>
            </span>

            <span class="text-content" (click)="onVerseClick(text.id_libro, text.capitulo, text.versiculo, 'noText')">
              {{fragmento.parteFinal}}
            </span>

          </ng-container>
        </ng-container>

        <ng-container *ngIf="!text.hasOwnProperty('comprimido') && text.texto">
          <span class="text-content" (click)="onVerseClick(text.id_libro, text.capitulo, text.versiculo, text.texto)">
            {{text.texto}}
          </span>
        </ng-container>

        <span *ngIf="tieneNota(text.capitulo, text.versiculo)" class="note-icon"
          (click)="onNoteClick(text.capitulo, text.versiculo); $event.stopPropagation()">
          <ion-icon name="document-text"></ion-icon>
        </span>

        <span class="spacer">&nbsp;</span>

      </span>
    </ng-container>
  </ng-container>

</div>