<ion-header>
  <!-- Allow everything but only from the same origin and foo.com -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defauldHref="/"></ion-back-button>
    </ion-buttons>
    <div align="center">      
      
        <!-- Boton de los libros-->
        <ion-button clear small size ="small" fill="clear" color="light" >
            <font COLOR="black" size="3" face="Segoe UI">   (SLM)&nbsp; </font>
            <font COLOR="black" SIZE="4" face="Segoe UI"> {{librot}} </font>
        </ion-button>  
        <ion-button color="light" clear small  fill="clear">
          <font COLOR="black" SIZE="4" face="Segoe UI"> {{capitulo}}</font>  
        </ion-button>   
          
      
       <ion-button color="light" clear small  fill="clear" (click)="aumentarSize()" size="small">
          <strong> <font COLOR="black" SIZE="3" face="Segoe UI">A+</font></strong>  
        </ion-button>
        <ion-button color="light" clear small  fill="clear" (click)="disminuirSize()" size="small">
          <strong><font COLOR="black" SIZE="3" face="Segoe UI">a-</font></strong>  
        </ion-button>   
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid >
    <ion-row >
      <ion-col col-0 col-sm-0 col-md-1 col-lg-3 col-xl-3 ></ion-col>
      <ion-col col-12 col-sm-12 col-md-10 col-lg-6 col-xl-6 ></ion-col>

      <div *ngIf = "mostrarTexto" align="justify"> 
        <ion-label text-wrap   *ngFor="let text of textoJsonFinal" >

          <div *ngIf="text.hasOwnProperty('idTitulo')">
            <h4 align="center" padding-bottom><FONT face="Segoe UI" size={{this.fontSize+1}}><strong>{{text.titulo}}</strong></FONT></h4> 
          </div>
        
          <div *ngIf="text.hasOwnProperty('comprimido')">
            <div padding-horizontal padding-bottom>
              <FONT  size={{this.fontSize-2}} face="Segoe UI"><ion-text  color="medium">{{text.versiculo}} </ion-text></FONT>
              <font *ngFor="let construirVersiculo of text.comprimido" size={{this.fontSize}}>
                  <ion-text class={{marcar(construirVersiculo.capitulo,construirVersiculo.versiculo)}}>
                    <a (click)="seleccionarVersiculo('noText', construirVersiculo.id_libro, construirVersiculo.capitulo, construirVersiculo.versiculo)" class={{this.marcarV}}>
                      {{construirVersiculo.parteText}} 
                    </a>
                  <a (click)="citaAlert(construirVersiculo.cita, construirVersiculo.ibroCita, construirVersiculo.capituloCita, construirVersiculo.versiculoCitaInicial)" >
                    <sup>
                      <!--<ion-icon class='ico-cita' color='medium' ios='ios-quote' md='md-quote'></ion-icon>-->
                      <ion-icon name='md-medical' class='ico-cita' color='medium' ></ion-icon>
                      <!--<ion-icon name="bookmark" class='ico-cita' color='medium'></ion-icon>-->
                    </sup>
                  </a>
                    <a (click)="seleccionarVersiculo('noText', construirVersiculo.id_libro, construirVersiculo.capitulo, construirVersiculo.versiculo)" class={{this.marcarV}}>
                      {{construirVersiculo.parteFinal}} 
                    </a>
                  </ion-text>
                
              </font>
            </div>     
          </div>
        
          <div *ngIf ="!text.hasOwnProperty('comprimido')" padding-horizontal padding-bottom>
            <FONT size={{this.fontSize-2}} face="Segoe UI"><ion-text *ngIf="!text.hasOwnProperty('idTitulo')" color="medium">{{text.versiculo}} </ion-text></FONT>
            <font  size={{this.fontSize}}>
              <ion-text  class={{marcar(text.capitulo,text.versiculo)}}>
                <span > 
                  <a (click)="seleccionarVersiculo(text.texto,text.id_libro, text.capitulo, text.versiculo)" class={{this.marcarV}}>
                    {{text.texto}} 
                  </a>
                </span>
              </ion-text>
            </font>
          </div>
          
        
        </ion-label>
        <div align="center">
            <FONT face="Segoe UI" size="3"><strong>*(SLM) Sion: Leche y Miel</strong></FONT>    
        </div>
      </div>

    </ion-row>
  </ion-grid>

  <!--Botones flotantes para la version de escritorio middle y middle right-->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed" >
    <ion-fab-button (click)="previousboton()" size="small" >
        <ion-icon name="ios-arrow-back"></ion-icon> 
    </ion-fab-button>
  </ion-fab>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed" size="small">
      <ion-fab-button (click)="nextboton()" size="small">
          <ion-icon name="ios-arrow-forward"></ion-icon> 
      </ion-fab-button>
    </ion-fab>

      
    <br>
</ion-content>
