html {
  scroll-behavior: smooth;
}

.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

ion-button {
  --border-width: 1px;
}


.alert-ios .alert-radio-label {
  white-space: pre-line;
}

.alert-md .alert-radio-label {
  white-space: pre-line;
}

.alert-wp .alert-radio-label {
  white-space: pre-line;
}

.ico-cita {
  font-size: 13px;
}

.parrafo {
  p {
    display: inline;
  }
}

.action-sheet-options,
.action-sheet-group {
  --backdrop-opacity: 0;
}

.element.style {
  opacity: 0.1;
}

.highlight {
  background-color: rgba(0, 162, 255, 0.127);
  text-decoration: none;

}


on-label::part(tab active) {
  color: green;
}


ion-content::ion-grid::ion-row::div::part(placeholder) {
  background-color: gold;
}

ion-content::part(placeholder) {
  background-color: gold;
}

ion-fab-button {
  --border-color: black;
}

ion-item::part(native):hover {
  color: green;
}

.versiculo-highlight {
  background-color: #cccccc2c;
  border-left: 4px solid #000000a8;
  padding-left: 2px;
}

.text-segoe {
  font-family: "Segoe UI", sans-serif;
}