
ion-thumbnail {
    --border-radius: 10px;
}

.bordeSlide {
    border: double #0042f9c3;
  }
.bordeSlidePrimary {
border: double #f97000c3;
}
.slide {
    border: 1px solid #2525251f;
}

ion-item{
    --padding:0px !important;
    --padding-start:0px !important;
    --padding-end:0px !important;
    --inner-padding-end: 0px;
    --ion-padding:0px;
    --ion-padding-top:0px !important;
    --ion-padding-vertical:0px !important;
}
ion-thumbnail{
    --ion-padding:0px;
}
ion-slide{
    --padding-top:0px !important;

}
$badge-font-size:4rem;

ion-badge {
    font-size: 11px !important
}
.itemPersonalizado{  
    height : 25px !important;
    display: flex;
    align-items: center;
}