// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.custom-centered-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.ion-margin-horizontal {
    margin: 0 8px
}

.ion-margin-bottom {
    margin-bottom: 8px
}


.versiculo-highlight {
    background-color: rgba(0, 162, 255, 0.3) !important;
    border-left: 4px solid #000000a8 !important;
    padding-left: 2px !important;
    transition: background-color 0.3s ease;
}